@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h4 class="pb-3">Home</h4>
    <a href='@Url.Action("Index", "Login")'><img src="~/images/home.png" style="height:95px;width:115px;" /></a>
    <h5>
        <a href='@Url.Action("Index", "Login")'>
            @if (ViewBag.Message != null)
        {
            ViewBag.Message = ViewBag.Message.Replace("\"", "");
        }
            @ViewBag.Message
        </a>
        
    </h5>
</div>