@page
@model Login_process_test.Pages.ConfirmEmailModel
@{
    ViewData["Title"] = "ConfirmEmail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>
<div>
    <p>
        Thank you for confirming your email.
    </p>
</div>

